<html>
    <head>
        <title>Testing twilio</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>

    <body>
        <form action="status/" method="get">
            <br>
            <div class="form-group">
                <h4>Testing twilio API (Team Titan)</h4>
                <br>
                <br>
                <div class="col-md-4">
              <label for="exampleFormControlInput1"><b>Phone Number</b></label>
              
              <input type="text" class="form-control" name="phone" id="exampleFormControlInput1" placeholder="+234xxxxxxxxxx">
              <br>
              <br>
            </div>
            </div>
           
            
            <div class="form-group">
                <div class="col-md-4">
              <label for="exampleFormControlTextarea1"><b>Your Message</b></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="message"></textarea>
              <br>
              <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
            </div>
            </div>
          </form>
    </body>



</html>